body {
	font-family: "IBM Plex Sans", sans-serif;
	color: #16191e;
	background: #f3f1ec;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3 {
	font-family: "Barlow Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
